<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyprograms -->
      <package
            uri="platform:/plugin/org/eclipse/exercise/studyprograms"
            class="studyprograms.StudyprogramsPackage"
            genModel="model/studyprograms.genmodel"/>
   </extension>

</plugin>
